<section class="col-sm-10 mx-auto px-3 bubble">
  @if (tourFacade.loading()) {
    <p class="state-message">Loading tours...</p>
  } @else if (tourFacade.error()) {
    <p class="state-message state-message--error">{{ tourFacade.error() }}</p>
  } @else if (tourFacade.tourCount() === 0) {
    <p class="state-message">No tours found.</p>
  }

  <div class="tour-list">
    @for (item of tourFacade.logs(); track item.id) {
      <app-log-list-item [log]="item"></app-log-list-item>
    }
  </div>
</section>
