<section class="col-sm-10 mx-auto px-3 bubble">
  @if (logFacade.loading()) {
    <p class="state-message">Loading tours...</p>
  } @else if (logFacade.error()) {
    <p class="state-message state-message--error">{{ logFacade.error() }}</p>
  } @else if (logFacade.logCount() === 0) {
    <p class="state-message">No tours found.</p>
  }

  <div class="tour-list">
    @for (item of logFacade.logs(); track item.id) {
      <app-log-list-item [log]="item"></app-log-list-item>
    }
  </div>
</section>
