<section class="col-md-12 mx-auto px-3 bubble">
  <h2 class="mb-4">
    {{ isEditMode() ? 'Edit Tour' : 'Add new Tour' }}
  </h2>

  <div class="bubble-inner">
    <form (ngSubmit)="onSubmit()">
      <div class="row mb-2">
        <div class="col-auto mb-2">
          <label for="tour-name">Name</label>
          <input type="text" class="form-control" id="tour-name" [formField]="tourForm.name" />
        </div>

        <div class="col-auto mb-2">
          <label for="tour-transportation-type">Transportation Type</label>
          <select
            class="form-select"
            id="tour-transportation-type"
            [formField]="tourForm.transport_type"
          >
            @for (type of transportOptions; track type.value) {
              <option [value]="type.value">
                {{ type.label }}
              </option>
            }
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-auto mb-2 position-relative">
          <label for="tour-from">From</label>
          <input
            type="text"
            class="form-control"
            id="tour-from"
            [formField]="tourForm.from"
            (input)="onFromInput($any($event.target).value)"
          />

          <ul *ngIf="fromSuggestions().length" class="list-group position-absolute z-3">
            <li
              *ngFor="let s of fromSuggestions()"
              class="list-group-item list-group-item-action"
              (click)="selectFrom(s)"
              style="cursor: pointer"
            >
              {{ s.label }}
            </li>
          </ul>
        </div>

        <div class="col-auto mb-2 position-relative">
          <label for="tour-to">To</label>
          <input
            type="text"
            class="form-control"
            id="tour-to"
            [formField]="tourForm.to"
            (input)="onToInput($any($event.target).value)"
          />

          <ul *ngIf="toSuggestions().length" class="list-group position-absolute z-3">
            <li
              *ngFor="let s of toSuggestions()"
              class="list-group-item list-group-item-action"
              (click)="selectTo(s)"
              style="cursor: pointer"
            >
              {{ s.label }}
            </li>
          </ul>
        </div>
      </div>

      <div class="col-auto mb-4">
        <label for="tour-description">Description</label>
        <textarea
          class="form-control"
          id="tour-description"
          [formField]="tourForm.description"
          placeholder="Describe the tour details..."
          rows="6"
        ></textarea>
      </div>

      <div class="row mb-2 justify-content-evenly">
        <button type="button" class="btn btn-secondary col-auto" (click)="onCancel()">
          Cancel
        </button>

        <button type="submit" class="btn btn-primary col-auto">
          {{ isEditMode() ? 'Save Changes' : 'Create Tour' }}
        </button>
      </div>
    </form>
  </div>
</section>
