<div class="container-fluid">
  <div class="row g-2">
    <div class="col-12 col-lg-4">
      @if (currentView === 'login') {
        <app-login />
      } @else if (currentView === 'register') {
        <app-register />
      } @else if (currentView === 'profile') {
        <app-tour-list />
      } @else if (currentView === 'tours') {
        <app-tour-details />
      } @else if (currentView === 'add-tour-log') {
      } @else if (currentView === 'add-tour') {}
    </div>

    <div class="col-12 col-lg-4">
      @if (currentView === 'login') {
      } @else if (currentView === 'register') {
      } @else if (currentView === 'profile') {
        <app-log-list />
      } @else if (currentView === 'tours') {
        <app-map />
      } @else if (currentView === 'add-tour-log') {
        <app-log-form />
      } @else if (currentView === 'add-tour') {
        <app-tour-form />
      }
    </div>

    @if (currentView === 'login' || currentView === 'register' || currentView === 'profile') {
      <div class="col-12 col-lg-4 reorder">
        @if (currentView === 'login') {
          <h3 [class.order-first]="isNarrow()">
            Welcome to the Tour Planner! Please log in or register to get started.
          </h3>
        } @else if (currentView === 'register') {
          <h3 [class.order-first]="isNarrow()">
            Welcome to the Registration Page! Please fill out the form to create an account.
          </h3>
        } @else if (currentView === 'profile') {
          <h3 [class.order-first]="isNarrow()">
            Welcome to your profile! Here you can view and manage your tours and logs.
          </h3>
        }
      </div>
    } @else {
      <div class="col-12 col-lg-4">
        @if (currentView === 'tours') {
          <app-log-list />
        } @else if (currentView === 'add-tour-log') {
        } @else if (currentView === 'add-tour') {
          <app-map />
        }
      </div>
    }
  </div>
</div>
