<div class="container-fluid">
  @if (currentView === 'login' || currentView === 'register') {
    <div class="row g-2 justify-content-center">
      <div class="col-12 col-lg-4">
        @if (currentView === 'login') {
          <app-login />
        } @else {
          <app-register />
        }
      </div>
      <div class="col-12 col-lg-4 reorder">
        @if (currentView === 'login') {
          <h3>Welcome to the Tour Planner! Please log in or register to get started.</h3>
        } @else {
          <h3>Welcome to the Registration Page! Please fill out the form to create an account.</h3>
        }
      </div>
    </div>
  } @else {
    <div class="row g-2 justify-content-center">
      <div class="col-12 col-lg-4">
        @if (currentView === 'profile') {
          <app-tour-list />
        } @else if (currentView === 'tours') {
          <app-tour-details />
        } @else if (currentView === 'search') {
          <app-search-box></app-search-box>
        } @else if (currentView === 'add-tour-log') {
        } @else if (currentView === 'add-tour') {}
      </div>

      <div class="col-12 col-lg-4">
        @if (currentView === 'profile') {
          <app-log-list />
        } @else if (currentView === 'tours') {
          <app-map />
        } @else if (currentView === 'add-tour-log') {
          <app-log-form />
        } @else if (currentView === 'add-tour') {
          <app-tour-form />
        } @else if (currentView === 'search') {
          <app-tour-search></app-tour-search>
        }
      </div>

      <div class="col-12 col-lg-4">
        @if (currentView === 'profile') {
          <h3>Welcome to your profile! Here you can view and manage your tours and logs.</h3>
        } @else if (currentView === 'tours') {
          <app-log-list />
        } @else if (currentView === 'add-tour') {
          <app-map />
        } @else if (currentView === 'search') {
          <app-log-search></app-log-search>
        }
      </div>
    </div>
  }
</div>
