@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: #f8f9fa;
  color: #212529;
}

h1, h2, h3 {
  font-weight: 600;
}

.container-fluid {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

